/* Import Montserrat ExtraLight from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.montserrat-extralight {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 0.2em;
}
